<!DOCTYPE html>
<head>
  <title>Simon</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/velocity/1.5/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/evil-icons/1.9.0/evil-icons.min.css">
  <script src="https://cdn.jsdelivr.net/evil-icons/1.9.0/evil-icons.min.js"></script>
  <link href="style.css" rel="stylesheet">
</head> 
<body>
  <canvas id="myCanvas" height="200" width="800"></canvas>
  <div id="header" class="glowdrop">
    <h1 class="text-center">SIMON</h1>
  </div>
    <main id="simon">
      <p v-if="debug">{{ sequence }}</p><br>
      <div id="gbuttons">
        <gamebutton 
          v-for="color in colors" 
          :key="color.name"
          v-bind:clr="color.name"
          v-bind:hex="color.hex"
        >
        </gamebutton>
      </div>
      <div>
        <span 
          class="icono-play"
          v-if="status === 'gameOver'"
          @click.prevent="startGame"
        ></span>
        <button v-if="debug" @click.prevent="addMove">Add move</button>
        <button v-if="debug" @click.prevent="tellMoves(sequence)">Tell move</button>
      </div>-->
    </main>
     
<script src="app.js"> </script>
</body>